body {
  font-size:20px;
}

h1 {
  color:navy;
  margin-left:20px;
}

a {
  font-size:20px;
}

td {
  vertical-align:middle;
  border-bottom: 1px solid #ddd;
}

tr {
  height:40px;
}

table {
  width:100%;
}

tr:hover {background-color: #f0f0f0;}


input[type=checkbox],input[type=submit],input[type=button],input[type=date],input[type=time],input[type=file],select {
  height:40px;
  font-size:18px;
}

input[type=text],input[type=number] {
  width:50px;
  height:40px;
  font-size:18px;
  text-align: right;
}

#mybg_case {
  position : relative;
  top : 0px;
  left:0px;
  z-index:0;
  width : 650px;
  height : 200px;
}

#annotations {
 position : relative;
 top : 0px;
 left:0px;
 z-index:1;
 width : 650px;
 height : 200px;
}

#main {
  max-width: 600px;
  margin: 0 auto;
}
